{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="{% static 'js/ajax.jQuery-1.8.0.js' %}"></script>


</head>
<body>

<div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <!-- Default panel contents -->


      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>\</th>
            <th>单号</th>
            <th>跟新时间</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
            <th scope="row">{{ order.id }}</th>
            <td><a href="{% url 'app:ordersdetail' order.id %}">{{ order.number }}</a></td>
            <td>{{ order.updatetime }}</td>
            <td>{{ order.status }}</td>
            <td><button>付款</button><button class="remove" orders_id="{{ order.id }}">删除</button></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

    <script src="{% static 'js/order.js' %}"></script>
</body>
</html>
